<div class="dodaj-vrtic-container">
  <h2>Dodaj novi vrtić</h2>
  <form (ngSubmit)="dodajVrtic()">
    <label>Naziv:
      <input type="text" [(ngModel)]="noviVrtic.naziv" name="naziv" required>
    </label>
    <label>Kapacitet:
      <input type="number" [(ngModel)]="noviVrtic.kapacitet" name="kapacitet" required>
    </label>
    <label>Broj slobodnih mesta:
      <input type="number" [(ngModel)]="noviVrtic.brojSlobodnihMesta" name="brojSlobodnihMesta" required>
    </label>
    <button type="submit">Dodaj vrtić</button>
  </form>
</div>